.profile-container {
  width: calc(100% - 60px);
  height: 100vh;
  background: linear-gradient(180deg, #141516, #000);
  background-image: url(../assets/carousel/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  >.header-container{
    width: 100%;
    height: 200px;
    // background-color: blueviolet;
    display: flex;
    align-items: center;
    justify-content: center;
   

    >.header{
      width: 80%;
      height: 150px;
      display: flex;
      z-index: 99;
      margin-left: 20px ;
      border-radius: 20px;
      animation: glow 8s infinite ease-in-out;
    
    @keyframes glow {
      0% {
        box-shadow: 1px 0px 10px rgb(255, 255, 255);
      }
      16% {
        box-shadow: 1px 0px 10px rgb(164, 5, 85);
      }
      32% {
        box-shadow: 1px 0px 10px rgb(27, 98, 184);
      }
      54% {
        box-shadow: 1px 0px 10px rgb(0, 100, 100);
      }
      64% {
        box-shadow: 1px 0px 10px rgb(40, 181, 40);
      }
      80% {
        box-shadow: 1px 0px 10px rgb(128, 0, 128);
      }
      100% {
        box-shadow: 1px 0px 10px rgb(255, 165, 0);
      }
    }
      // align-items: center;
      // justify-content: center;
      // margin-top: -150px;
      // background-color: aqua;

      &::before {
        content: " ";
        width: 77%;
        height: 150px;
        position: fixed;
        z-index: 1;
        background-color: black;
        opacity: 30%;
        border-radius: 20px;
      }

      >.profile-section-left{
        width: 50%;
        height: 100%;
        // background-color: purple;
        display: flex;
        
       
        >img{
          width: 140px;
          height: 140px;
          margin: 5px 15px;
          border-radius: 50%;
        // background-color: black;
        }
        >.name-id{
          width: 100%;
          height: 100%;
        // background-color: bisque;
          display: flex;
          flex-direction: column;
          align-items: start;
          color: white;

          > h2 {
            font-family: $barlow;
            font-size: 20px;
            margin-top: 20px;
            margin-left: 25px;
          }
          > h3 {
            font-family: $barlow;
            font-size: 18px;
            margin-left: 25px;
          }
  
          > .connections {
            display: flex;
            gap: 20px;
            margin-left: 20px;
            margin-top: 20px;
            position: relative;

            > .connect {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 100px;
              height: 50px;
              position: absolute;
              color: #fff;
              background-color: rgb(27, 98, 184);
              font-size: 13px;
              font-weight: 400;
              border-radius: 25px;
              cursor: pointer;
              font-family: $golos;
              z-index: 2;
            
  
              > .icon {
                margin-right: 5px;
              }
            }
            > .message {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 100px;
              height: 50px;
              position: absolute;
              color: #fff;
              background-color: rgb(27, 98, 184);
              font-size: 13px;
              font-weight: 400;
              border-radius: 25px;
              margin-left: 120px;
              z-index: 2;
              cursor: pointer;
              font-family: $golos;
    
              > .icon {
                margin-right: 5px;
              }
            }
        }
        
      }
    }
    >.profile-section-right{
      width: 50%;
      height: 100%;
      // background-color: blue;
      display: flex;
      align-items: end;
      justify-content: end;

      >.link-container{
        width: 200px;
        height: 100px;
        // background-color: chartreuse;
        display: flex;
        align-items: end;
        justify-content: end;
        gap: 20px;

        >.icons{
          font-size: 20px;
          margin-bottom: 20px;
          margin-right: 10px;
          z-index: 2;
        }
      }
    }
  }

  }
  >.container{
    width: calc(100% -  60px);
    height: 300px;
    border-top: 2px solid #fff;
    // background-image: url(../assets/carousel/bg.jpg);
    margin-left: 60px;
    display: flex;
    

    >.left-container{
      width: 60%;
      height: 500px;
      // background-image: url(../assets/carousel/bg.jpg);
      // background-color: rgb(171, 149, 149);
      // display: flex;
      // align-items: center;
      // justify-content: center;

      &::before {
        content: " ";
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 1;
        background-color: black;
        opacity: 30%;
        border-radius: 20px;
      }

      >.gameplay{
        width: 100;
        height: 200px;
        display: flex;
        flex-direction: column;
        color: white;

        >h2{
        color: white;
        margin-left: 30px;
        margin-bottom: 20px;
        font-size: 40px;
        font-family: $barlow;
        text-transform: uppercase;
        text-decoration: underline #f22a2a;
        z-index: 1;
        }

       >.img-desc{
        width: 100%;
        height: 300px;
        // background-color: #4e1e1e;
        display: flex;
        
        >.image{
          width: 400px;
          height: 200px;
          margin-left: 8px;
          // background-color: #2c2323;
          margin-bottom: 10px;
          >img{
            width: 200px;
            height: 200px;
          }
         
        }
        >.desc{
          width: 100%;
          height: 100px;
          // background-color: #fff;
          font-size: 20px;
        }
       }
      }
    }

    >.right-container{
      width: 40%;
      height: 500px;
      // position: relative;
      overflow-y: scroll;
      color: white;
      border-left: 1px solid #fff;

      &::-webkit-scrollbar{
        display: none;
      }
    

      &::before {
        content: " ";
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 1;
        // background-color: black;
        // opacity: 30%;
      }
       
      &::-webkit-scrollbar {
        height: 5px;
        
      }
      &::-webkit-scrollbar-track {
        background: linear-gradient(280deg, #141516, #000);
      }
      &::-webkit-scrollbar-thumb {
        background: $mainNeon;
        border-radius: 20px;
        
      }
     

      // background-color: aqua;
      >h2{
        color: white;
        margin-left: 30px;
        margin-bottom: 20px;
        font-size: 40px;
        font-family: $barlow;
        text-transform: uppercase;
        text-decoration: underline #f22a2a;

      }

      >.news-container{
        width: 100%;
        height: 130px;
        color: white;
       
        
       
       
        // background-image: url(../assets/carousel/bg.jpg);
        // background-color: aquamarine;
        >.paragraph{
          font-size: 20px;
          >p{
            font-family: $barlow;
            margin-bottom: 30px;
            margin-left: 20px;
          }
        }
      }
    }
  }
}