@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300&family=Pacifico&family=Rubik:wght@300&display=swap');


//Global Variables
$mainNeon: hsl(186 100% 69%);
$primary: #6a66C2;
$secondary: #23132f;
$accent: #8c54bb;
$black: #000 ;


    $body-color: #e4e9f7;
    $primary-color: #A52DC5;
    $bg-color:#0F0D0D;
    $grey-color :#8B92BB;
    $blue-color:#1C219A;
    $pink-color: #55334A;
    $blue2-color :#16135A;
    $nav-hover : #b40ff5;
    $font-color: #ffffff;

    $tran-02 :all 0.2s ease;
    $tran-03 :all 0.3s ease;
    $tran-04 :all 0.4s ease;
    $tran-05 :all 0.5s ease;



