$main-image : url('../../assets/carousel/Ghost-carousel.jpg');

.main-page {
    background-image: $main-image;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

    >.temp {
        height: 100vh;
        width: 100vw;
    }
}