//Global Styles
* {
    margin: 0;
    padding: 0;
}

//Global Variables
$themeColor: #d72323;

//External resources
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300&family=Pacifico&family=Rubik:wght@300&display=swap');

//Pages
@import url('./pages/_main/Main.scss');

//Components
@import url('./components/_hero/Hero.scss');